body{
	background-color : silver;
}
 h1 {
	 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 	 font-size: 40px;
	 text-align: center;
	 font-style: oblique;
	 font-weight: bolder;
     color: #4CAF90;
     background-color:firebrick;
     color: white;

} 

.choice{
	display: block;
	margin-left: 14px;

} 
.qustion{
	margin: 15px 0 5px 0;
} 

.container{

	width: 98%;
	background-color:aquamarine;
	margin: auto ;
	padding: 15px;
} 
#results{
color:firebrick;
background-color: fuchsia;
width: 400px;
height: 60px;
margin: auto;
text-align: center;
line-height: 60px;
font-size: 30px;
}
#submit{
width: 70px;
height: 50px;
margin: 20px;
font-size: 20px;
padding: 5px;

}
/* header{ */
	/* background-image: url(./Quiz-Logo.jpg); 
	background-size: contain;
	background-position: center; */
	/* height: 50px; */
	
/* } */

.questionWithChoices, #submit,#results,#time {
	display : none;
	
	
}

h3{
	margin: auto;
	text-align: center;
}
#start{
width: 80px;
height: 60px;
margin: 20px;
font-size: 20px;
padding: 5px
}
