
body {
	background-color: silver;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 300%;
	 text-align: center;
	 font-style: oblique;
	 font-weight: bolder;
    color: #4CAF90;
  background-color: black;
  color: white;

}


